*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --color-primary: #171531;
  --color-primary-light: #292657;
  --color-primary-dark: #211d45;

  --color-white: #fff;
  --color-black: #000;

  --color-grey-light-1: #a1a7bb;
  --color-grey-light-2: #aaa;

  --color-blue-1: #3fbafe;
  --color-blue-2: #6188ff;

  --color-green-1: #00ff40;
  --color-green-2: #60efbc;

  --color-red-1: #ff0000;
  --color-red-2: #f5698c;

  // FONT
  --default-font-size: 1.6rem;
}

html {
  font-size: 62.5%; // 10px/16px = 62.5% -> 1rem = 10px
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
